body {
  background-color: #ebeae6;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100px auto 100px;
  height: 100vh;
}
.header {
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #011926;
  color: white;
  padding-top: 20px;
  font-size: 12pt;
}
.text {
  text-align: center;
}
