body {
  background-color: #ebeae6;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50px 100px auto 100px;
  height: 100vh;
}
.topnav {
  grid-column-start: 1;
  grid-column-end: -1;
}
.header {
  grid-column-start: 1;
  grid-column-end: -1;
}
.footer {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #011926;
  color: white;
  padding-top: 10px;

  font-size: 12pt;
}
.text {
  text-align: center;
}
.text > p {
  text-align: center;
  padding: 15px;
}
.image {
  padding-bottom: 50px;
}
img {
  min-height: 200px;
  border: 1px solid grey;
  border-radius: 10px;
}
button {
  background-color: #f68e36;
  text-transform: uppercase;
  color: white;
  border: 1px solid #f68e36;
  border-radius: 5px;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text > button {
  padding-right: 50px;
  padding-left: 50px;
}
footer > button {
  padding-left: 90px;
  padding-right: 90px;
}
